
            body {
                overflow-x: hidden;
                font-family: 'Roboto', sans-serif;
                background-color: black;
                margin: 0;
                
            }

            a{
                text-decoration: none;
            }

            .header{
                position: relative;
                width: 100%;
                background: rgb(2,0,36);
                background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(1,92,48,1) 100%);
                display: flex;
                justify-content:center;
            }

            .image_div{
               
                
                width: 10%;
            }

            .logo{
                cursor: pointer;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                
            }

            .about{
                cursor: pointer;
                text-align: center;
                border: 2px solid black    ;
                background-color: gray;
                color: white;
                padding: 5%;    
                border-radius: 5%;

            }

            .menu{
                
                cursor: pointer;
                text-align: center;
                width: 5%;
                border: 2px solid black;
                color: white;
                padding: 1%;
                margin: 1%;
                border-radius: 5%;
                
            }
            
            .menu:hover{
                
                opacity: 0.5;
            }

            .about:hover{
                
                opacity: 0.5;

            }

            .usa{
                background-image: url("images/usa.jpg");
                background-position: center;
                background-size: cover;
            }

            .germany{
                background-image: url("images/germany.jpg");
                background-position: center;
                background-size: cover;
            }

            .china{
                background-image: url("images/china.jpg");
                background-position: center;
                background-size: cover;
            }

            .gb{
                background-image: url("images/gb.jpg");
                background-position: center;
                background-size: cover;
            }

            .japan{
                background-image: url("images/japan.jpg");
                background-position: center;
                background-size: cover;
            }

            .france{
                background-image: url("images/france.jpg");
                background-position: center;
                background-size: cover;
            }

            .europe{
                background-image: url("images/europe.jpg");
                background-position: center;
                background-size: cover;
            }

            .ussr{
                background-image: url("images/ussr.jpg");
                background-position: center;
                background-size: cover;
            }
            .about_text_div{
                position: relative;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 5%;        
                width: 80%;
                color: white;
                border: 2px solid #015c30;
                                          
                
            }
            .title{
                text-align: center;              
            }
            .text{
                text-align: center; 
                padding-left: 5%;
                padding-right: 5%;
                font-size: 100%;
                word-wrap: break-word;
            }
            .heavy_icon{
                display: block      ;
                width: 10%;
                margin-left: auto;
                margin-right: auto;
            }
            .tanks_list{
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 5%;
                width: 90%;
                border: 2px solid #015c30;


            }
            .heavy_title{
                text-align: center;
                color: white;
            }
            .heavy_lvl{
                text-align: center;
                color: white;
            }
            .tanks_block{
                margin-top: 5%;
                position: relative;
                width: 100%;
                display: flex;
                justify-content:space-around;
            }
            .tanks_div{
                cursor: pointer;
                opacity: 80%;
                position: relative;
                width: 33%;
                
            }
            .tanks {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }
            .tank_name{
                margin-top: 0;
                color: #d2d2d2;
                text-align: center;
            }
            br{
                width: 100%;
                height: 2px;
                background-color: #015c30;
            }
            .tanks_div:hover{
                opacity: 100%;
            }